3-XML/FormeVita/formeVita.dtd

<!ELEMENT FORME_DI_VITA   (ANIMALE*, VEGETALE*, FUNGO*, BATTERIO*, VIRUS*)>

<!ELEMENT ANIMALE (CORDATO*, MOLLUSCO*, ARTROPODE*, ALTRO*)>

<!ATTLIST NOME CDATA  #REQUIRED>

<!ELEMENT  CORDATO  (GENERE)>

<!ATTLIST DIMENSIONE CDATA  #REQUIRED>

<!ELEMENT  VEGETALE  (GENERE)>

<!ATTLIST DIMENSIONE CDATA  #REQUIRED>

<!ELEMENT  FUNGO  (GENERE) >

<!ATTLIST DIMENSIONE CDATA  #REQUIRED>

<!ELEMENT  BATTERIO  (GENERE) >

<!ATTLIST DIMENSIONE CDATA  #REQUIRED>

<!ELEMENT  VIRUS  (GENERE) >

<!ATTLIST DIMENSIONE CDATA  #REQUIRED>