3-XML/sistemaPlanetario/sistemaPlanetario.dtd

<!ELEMENT GALASSIA   (SISTEMA_PLANETARIO *)>

<!ELEMENT SISTEMA_PLANETARIO ( PIANETA*, COMETA*, ASTEROIDE*)>

<!ATTLIST  NOME_STELLA  CDATA  #REQUIRED  TIPO_STELLA  CDATA  #REQUIRED>

<!ELEMENT  PIANETA  (LUNA*)>

<!ATTLIST  NOME_PIANETA CDATA  #REQUIRED RAGGIO_PIANETA CDATA #IMPLIED >

<!ELEMENT  LUNA  (#PCDATA) >

<!ELEMENT  COMETA  (#PCDATA) >

<!ELEMENT  ASTEROIDE  (#PCDATA) >